.video-create {
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 1.2em;
}

.video-create-img {
    background-image: url('../../img/actors/actor02.jpg');
    background-size: cover;
    border-radius: 20px;
    padding: 1em;
    height: 50vh;
    position: relative;
}

.create-dropdown {
    font-size: 1rem;
    color: #b4b3b3;
}

.textarea-container { 
    position: relative; 
  } 

.textarea-container button { 
  position: absolute; 
  bottom: 20px; 
  left: 35px; 
  background-color: #f4f4f4;
  color: #b4b3b3;
  padding: 5px 25px 5px;
  font-size: 1em;
  font-weight: 500;
}

.video-create-preview-btn {
  position: absolute;
  bottom: 20px;
  left: 45%
}