.video-create {
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 1.2em;

}

.video-create-img {
    background-image: url('../../img/actors/actor02.jpg');
    background-size: cover;
    border-radius: 20px;
    padding: 1em;
    height: 50vh;
    position: relative;
}

h1 {
    margin: 1em 0 0;
}

.create-dropdown {
    font-size: 1rem;
    color: #b4b3b3;
}

/*.video-create-text {
    margin: 0.3em 0 0.3em;
    font-weight: 500;
}*/

textarea {
    width: 100%;
    height: 20vh;
    border-radius: 25px;
    border-style: none;
    margin-top: 1em;
    padding: 20px 35px 20px;
    color:#b4b3b3;
    background-color: #fff;
    min-height: 230px;

}

textarea:focus {
    background-color: #fff;
    outline: none !important;
    border: 2px solid #6a88c2;
    border-radius: 25px;
  }

.textarea-container { 
    position: relative; 
  } 

  .textarea-container button { 
    position: absolute; 
    bottom: 20px; 
    left: 35px; 
    background-color: #f4f4f4;
    color: #b4b3b3;
    padding: 5px 25px 5px;
    font-size: 1em;
    font-weight: 500;
  }

  .video-create-preview-btn {
    position: absolute;
    bottom: 20px;
    left: 45%
  }