a, a:hover, a:visited {
  color: #6a88c2;
  font-weight: 500;
  text-decoration: none;
}

.btn-green {
  color: #fff;
  font-weight: 500;
  background: #46b13d;
  margin: 10px;
  padding: 5px 30px 5px;
  border-style: 0px;
  border-radius: 5px;
  outline: none !important;
  border: none;
}

.btn-green a a:hover a:visited {
  color: #fff;
  text-decoration: none;

}

input {
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
}

input:focus {
  background-color: #fff;
  outline: none !important;
  border: 2px solid #6a88c2;
  border-radius: 5px;
}